.eventsbutton{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.eventsbutton:hover{
  background-color: rgb(230, 125, 125);
  color: white;
}